/* The general style, basic style */
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
/* 
---------------------------------------------------- 
Down here, the style of the first screen of the page
----------------------------------------------------
*/
/* Media query for mobile phones */
@media screen and (max-width: 480px) {

    .image{
        width: 40vw;
    }
    .presentationBox{
        font-size: 6vw;
    }
    .resumeBox{
        padding: 0.5rem;
        padding-bottom: 0.9rem;
    }
    .buttonBox{
        width: 13vw;
        padding: 2vw 6vw;
        border-radius: 1vb;
        font-size: 6vw;
        border: 0.01vb solid white;
    }
    #button{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

}

/* Down here, the media querie for small tablets and devices with small screens */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .image{
        width: 30vw;
    }
    .presentationBox{
        font-size: 4.8vw;
    }
    .resumeBox{
        padding: 1rem 2rem 1rem 2rem;
    }
    .buttonBox{
        width: 13vw;
        font-size: 4.8vw;
        padding: 2vw 6vw;
        border-radius: 1vb;
        border: 0.01vb solid white;
    }

    #button{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 1025px) {
    .image{
        width: 15vw;
    }
    .presentationBox{
        font-size: 1.7vw;
    }
    .resumeBox{
        font-size: 2vw;
        padding: 0.5rem 2rem 1rem 2rem;
    }
    .buttonBox{
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 4vw;
        padding: 1vw 4vw;
        border-radius: 1vb;
        border: 0.01vb solid white;
        font-size: 1.7vw;
    }

    #button{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
    /* Styling the second screen */

/*
 --Styling the general layout of the website in the first screen, the home
*/
.image{
    object-fit: cover;
}
.imageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: imageBox;
}

/* 
Styling the hole box that contains the presentation of the website and its system
 */
.presentationContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentationBox{
    font-family: "Jersey 15", Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: presentationBox;
    color: rgb(215, 228, 235);
}

.contentBox{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 'presentationBox imageBox';
    background-image: url(./assets/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.buttonBox{
    background-color: rgba(240, 248, 255, 0.148);
    font-family: "Jersey 15", Arial, Helvetica, sans-serif;
    color: rgb(215, 228, 235);
}
.buttonBox:hover{
    background-color: rgba(240, 248, 255, 0.31);
}



/* 
---------------------------------------------------
Down here, styling the second screen of the website
---------------------------------------------------
*/

.choisesDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    
}

#presentationBox{
    background-color: rgba(240, 248, 255, 0.075);
    border: 1px solid rgba(240, 248, 255, 0.3);
}

#choisesForm{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.choisesBox , .chooseButton{
    row-gap: 5%;
}

/* Media query for mobile phones */
@media screen and (max-width: 480px) {
    .presentChooses{
        font-size: var(--fontSize_mobilePhones);
    }

    .inputsButton{
        font-size: var(--fontSize_mobilePhones);
    }

    .chooseButton{
        font-size: var(--fontSize_mobilePhones);
        padding: var(--padding_mobileAndSmallTablets);
    }
    .imageBox{
        display: none;
    }
    .secondScreen{
        justify-content: center;
    }
    .choisesBox{
        width: 80vw;
    }
}

/* Down here, the media querie for small tablets and devices with small screens */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .presentChooses{
        font-size: var(--fontSize_smallTablets);
    }

    .inputsButton{
        font-size: var(--fontSize_smallTablets);
    }

    .chooseButton{
        font-size: var(--fontSize_smallTablets);
        padding: var(--padding_mobileAndSmallTablets);
    }
    .choisesBox{
        width: 95%;
        height: 50%;
    }
    
}

@media screen and (min-width: 1025px) {
    .presentChooses{
        font-size: var(--fontSize_laptops);
    }
    
    .inputsButton{
        font-size: var(--fontSize_laptops);
    }

    .chooseButton{
        font-size: var(--fontSize_laptops);
        padding: 1vw 4vw;
    }

}
