:root{
    --fontSize_mobilePhones: 6vw;
    --fontSize_smallTablets: 4.8vw;
    --fontSize_laptops: 1.9vw;
    --padding_mobileAndSmallTablets: 2vw 6vw;
}

/* The general style, basic style */
*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    color: rgb(215, 228, 235);
    font-family: "Jersey 15", Arial, Helvetica, sans-serif;
}
/* 
---------------------------------------------------- 
Down here, the style of the first screen of the page
----------------------------------------------------
*/
/* Media query for mobile phones */
@media screen and (max-width: 480px) {

    .image{
        width: 40vw;
    }
    .presentationBox{
        font-size: var(--fontSize_mobilePhones);
    }
    .resumeBox{
        padding: 0.5rem;
        padding-bottom: 0.9rem;
    }
    .buttonBox{
        width: 13vw;
        padding: 2vw 6vw;
        border-radius: 1vb;
        border: 0.01vb solid white;
    }
}

/* Down here, the media querie for small tablets and devices with small screens */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .image{
        width: 30vw;
    }
    .presentationBox{
        font-size: var(--fontSize_smallTablets);
    }
    .resumeBox{
        padding: 1rem 2rem 1rem 2rem;
    }
    .buttonBox{
        width: 13vw;
        padding: 2vw 6vw;
        border-radius: 1vb;
        border: 0.01vb solid white;
    }
}

@media screen and (min-width: 1025px) {
    .image{
        width: 15vw;
    }
    .presentationBox{
        font-size: var(--fontSize_laptops);
    }
    .resumeBox{
        font-size: 2vw;
        padding: 0.5rem 2rem 1rem 2rem;
    }
    .buttonBox{
        text-align: center;
        width: 4vw;
        padding: 1vw 4vw;
        border-radius: 1vb;
        border: 0.01vb solid white;
    }
}

/*
 --Styling the general layout of the website in the first screen, the home
*/
.image{
    object-fit: cover;
}
.imageBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid-area: imageBox;
}

/* 
Styling the hole box that contains the presentation of the website and its system
 */
.presentationBox{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-area: presentationBox;
    
}



.screenBox{
    background-image: url(./assets/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.firstScreen{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: 'presentationBox imageBox';

}
.buttonBox{
    background-color: rgba(240, 248, 255, 0.205);
}
.buttonBox:hover{
    background-color: rgba(240, 248, 255, 0.31);
}






/* 
---------------------------------------------------
Down here, styling the second screen of the website
---------------------------------------------------
*/

.firstScreen{
    display: none;
}

.secondScreen{
    display: grid;
    grid-template-areas: 'choisesBox imageBox';
    width: 100vw;
    height: 100vh;
    place-items: center;
    /* display: none; */
}

.inputsButton{
    padding: 2vh 3vw;
    border-radius: 3%;
}

.inputsButton:hover{
    background-color: rgba(240, 248, 255, 0.148);
    cursor: pointer;
}

.chooseButton{
    border-radius: 6%;
    background-color: rgba(250, 250, 250, 0.047);
    border: 0.001px solid white;
}

.chooseButton:hover{
    background-color: rgba(240, 248, 255, 0.148);
    border: 0.001px solid white;
    cursor: pointer;
}

.choisesBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.075);
    border: 1px solid rgba(240, 248, 255, 0.3);
    grid-area: choisesBox;
    text-align: center;
    box-sizing: border-box;
    width: 70%;
    height: 60%;
}

.inputsContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.choisesBox , .chooseButton{
    row-gap: 5%;
}

/* Media query for mobile phones */
@media screen and (max-width: 480px) {
    .presentChooses{
        font-size: var(--fontSize_mobilePhones);
    }

    .inputsButton{
        font-size: var(--fontSize_mobilePhones);
    }

    .chooseButton{
        font-size: var(--fontSize_mobilePhones);
        padding: var(--padding_mobileAndSmallTablets);
    }
    .imageBox{
        display: none;
    }
    .secondScreen{
        display: flex;
        margin: auto auto;
        justify-content: center;
    }
    .choisesBox{
        width: 80%;
    }
}

/* Down here, the media querie for small tablets and devices with small screens */

@media screen and (min-width: 481px) and (max-width: 1024px) {
    .presentChooses{
        font-size: var(--fontSize_smallTablets);
    }

    .inputsButton{
        font-size: var(--fontSize_smallTablets);
    }

    .chooseButton{
        font-size: var(--fontSize_smallTablets);
        padding: var(--padding_mobileAndSmallTablets);
    }
    .choisesBox{
        width: 95%;
        height: 50%;
    }
    
}

@media screen and (min-width: 1025px) {
    .presentChooses{
        font-size: var(--fontSize_laptops);
    }
    
    .inputsButton{
        font-size: var(--fontSize_laptops);
    }

    .chooseButton{
        font-size: var(--fontSize_laptops);
        padding: 1vw 4vw;
    }

}