*{
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}
@media screen and (max-width: 380px){
    .image{
        width: 380px;
    }
    .imageBox{
        border: 1px solid black;
        width: 190px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}